<apex:page standardController="Case"  >
  <script>
  function f(){
  var str1 = '/EMCBusinessServices/CommunitiesCaseDetailPage?id=';
  window.top.location.href = str1.concat("{!Case.Id}"); 
  }
  f();
  </script>
</apex:page>