<!--
Date of implentation: 13th Aug, 2013
Implemented by: Yamilett Salazar
Work Request: 286622
This visualforce page has been created for Executive Briefing Customer Profile distribution via EBC Application Site
-->

<apex:page standardController="EBC_Briefing_Event__c" extensions="EBC_InformationDistribution" showHeader="false">
  <style type="text/css">
    .header{
      height:68px !important;
      background-color:#2c95dd;
      box-shadow:0px 0px 20px #888888;
    }
    .profile{
      clear:center;
      margin:0px 30px 15px 30px;
      #border:solid 1px #888888;
    }
    .general{
      width:100%;
      table-layout:fixed;
    }
    tr.trHeight td{
      height:10px;
      border-bottom-color:#DDD !important;
    }
    .label{
      text-align:right;
      font-weight:bold;
      margin-right:10px;
    }
    .footer{
      height:34px !important;
      background-color:#E6E6E6;
    }
  </style>

  <div class="header" >
    <apex:image url="{!$Resource.EMCLogoSite}" style="height:64px;margin-left:10%"/>
    <apex:outputLabel style="float:right;margin:30px 10%;font:100% Helvetica, sans-serif;font-size:11px;color:#FFFFFF;"><b>EBC Application Site</b></apex:outputLabel>
  </div>
  
  <div class="profile">
    <div style="margin-left:-37px"><apex:sectionHeader title="Executive Briefing Center Customer Profile" subtitle="{!briefingEvent.Name}"/></div>
    <div style="border-top:solid 3px black;border-radius:3px;">
      <iframe width="100%" height="800px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/apex/EBC_InformationDistributionPDF?id={!briefingEvent.Id}&qet=true">
      </iframe>
    </div>
  </div>
  
   <div class="footer">
     <p style="text-align:center;padding-top:10px;font-family:Arial, Helvetica, sans-serif;font-size:7pt;color:#B4B4B4;"><b>EMC Confidential</b></p>
   </div>
</apex:page>