<!--================================================================================================
|  17Nov2014        Bisna V P        CI:1328         Redesign PDF Knowledge article layout
================================================================================================-->
<apex:page standardController="TSA__kav" extensions="KB_Controller"  showHeader="false" sidebar="false"  id="previewPage" cache="true" >
    <!-- Adding Header--CI 1328 -->
    <link type="text/css" rel="stylesheet" href="//www.emc.com/_admin/css/header.css" />         
    <div style="background-color: #494848;width:60%;">
    <div id="header">    
    <div id="headerTop">
    <a href="//www.emc.com/" title="EMC Corporation"><div id="emcLogo" class="headerSprite headerEMCLogo" alt="EMC Corporation"></div></a>            
    </div>   
    <div id="menu">
        <a class="menuItem"  ><div  style="width: 200px; background-position: -6px -10px;"><font color="white" size="4px">KNOWLEDGE BASE</font></div></a>        
        </div>    
    </div>
    </div>
     <!-- Header ends--CI 1328 --> 
        
          
        <script type="text/javascript"> 
        
             function enabbleFrame()      {
                  var divTag = document.getElementById("{!$Component.thePanel}");
                  divTag.style.visibility='visible';
                  return null;
             }
               
             function linkFrame()        {
                    var divTag = document.getElementById("{!$Component.thePanel}");
                    if(divTag.style.visibility=='visible'){
                        divTag.style.visibility='hidden';
                     }
                    else{
                        divTag.style.visibility='visible';
                    }
                    return null;
             }
      
             function diableFrame()          {
                  var divTag = document.getElementById("{!$Component.thePanel}");
                  divTag.style.visibility='hidden';
                  return null;
             }
        </script>
        
  <apex:form >   
      <div > <br></br>
          <apex:outputLink value="/apex/KB_TSA_Printable_PDF?id={!pageId}&audienceselected={!audienceselected}">Save as PDF</apex:outputLink>
                 
          <apex:commandLink style="float:right" value="Change Audience View" onmouseover="linkFrame();" rendered="{!if(portalUser,false,true)}" />
      </div>
  </apex:form> 
  
  <apex:outputPanel onmouseover="enabbleFrame();" onmouseout="diableFrame()" id="thePanel" styleclass="menu1" style="background-color:white">
         <div align = "right">                                   
             <apex:form >                        
             <apex:selectRadio value="{!audienceselected}" >             
              <apex:actionSupport event="onchange"  status="status"/>  
             <!--rerender="panel1,panel2,fieldpanel"-->             
                <apex:selectoption itemLabel="Level 50 = Restricted" itemValue="Level 50 = Restricted"></apex:selectoption>
                <apex:selectoption itemLabel="Level 40 = Employees and Partners" itemValue="Level 40 = Employees and Partners"></apex:selectoption>
                <apex:selectoption itemLabel="Level 30 = Customers" itemValue="Level 30 = Customers"></apex:selectoption>             
                             
             </apex:selectRadio>                                                   
             </apex:form>          
         </div>           
   </apex:outputPanel>
    

        
  <style type="text/css">
             span.averageRatingPanel {display:none !important;}  
             span.averageRatingPanel {display:none !important;}
             div.starRatingPanel {display:none !important;}

             .reAssignView{
                       font-weight:bold;
                       visibility : visible;
                        }
             .menu1{
                     visibility : hidden; 
                     position: absolute;
                     z-index:2;
                     left: 72%;                 
                     }
             .sectionhead {background-color:grey; color:white;
                           background-image:none font-size:20px 
                           }
             .sectionheadnot {background-color:white; color:white;
                           background-image:none font-size:0px 
                           }
             .body {background-color: white; color:black; 
                           background-image:none; font-size:12px;
                           }                            
      
   </style> 
   
   
   <apex:outputPanel id="artContalter" rendered="{!AND(showArticle,if( audienceselected==null,false,if(OR(AND(TSA__kav.Audience__c=='Level 50 = Restricted',OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers')),AND(TSA__kav.Audience__c=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers')),true,false)))}">  
    <div align="center"><apex:form >
     <b><apex:outputLabel value="Choose appropriate audience level to view this article" ></apex:outputLabel></b>
     </apex:form></div>           
   </apex:outputPanel>
   
    
  <apex:outputPanel id="artCont" rendered="{!AND(showArticle,if( audienceselected!=null,if(OR(AND(TSA__kav.Audience__c=='Level 50 = Restricted',OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers')),AND(TSA__kav.Audience__c=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers')),false,true),true))}">
      <Apex:outputPanel rendered="{!if(audienceselected=='Level 50 = Restricted',true,false)}"  >  <div align="center"><apex:form >
             <apex:outputLabel value="Restricted View" style="font-weight:bold ; font-size:17px"></apex:outputLabel>
             </apex:form></div> 
        </Apex:outputPanel> 
        
        <Apex:outputPanel rendered="{!if(audienceselected=='Level 40 = Employees and Partners',true,false)}"  >   <div align="center"><apex:form >
             <apex:outputLabel value="Employee and Partner View" style="font-weight:bold ; font-size:17px"></apex:outputLabel>
             </apex:form></div> 
        </Apex:outputPanel> 
  
          <div class="hasMotif knowledgeTab popup ext-gecko ext-gecko3">    
               <apex:outputPanel styleClass="articleRendererHeader" >
                    <apex:outputlabel style="word-wrap: break-word; font-size:29px  ; color:#0040FF" value="Knowledge Base Article: {!articleHelper.ArticleNumber}"></apex:outputlabel>
                    <br></br>
                    <apex:outputLabel value="{!articleHelper.Title}({!articleHelper.ArticleNumber}) " style="font-weight:300%;font-size:150%"/>
                    <br></br>
                    <apex:outputLabel value="Version:{!articleHelper.VersionNumber} " style="font-weight:300%;font-size:150%"/>
               </apex:outputPanel>           
               <br/>      
            <apex:form > 
            
            <!--apex:pageBlock-->
            <br></br>
          <apex:outputpanel style="font-weight:bold" >
              
              
                  
                <!--apex:outputLabel >Key Information</apex:outputLabel--> 
               </apex:outputpanel>
         <br/><br/>
         <apex:outputPanel id="detailsection" rendered="{!if(audienceselected=='Level 50 = Restricted',true,if(OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),false,if(showArticleDetail,true,false)))}">
         <div id="divdetail" >
            <!--apex:pageBlockSection -->
            
            <table style="width:100%">
                <tr>
                
                
                <td style="width:33% ">
                <apex:outputLabel value="Audience:" style="font-weight:bold"/>               
                <apex:outputLabel value="{!TSA__kav.Audience__c}"/>
                </td>
                
                <td  style="width:33%">
                <apex:outputLabel value="Original Create Date:" style="font-weight:bold"/>               
                <apex:outputLabel value="{!if(ISNULL(TSA__kav.Originally_Authored_Date__c),articleHelper.CreatedDate,TSA__kav.Originally_Authored_Date__c)}"/>
                </td>
                
               <td style="width:33%">
                <apex:outputLabel value="Article Type:" style="font-weight:bold"/>               
                <apex:outputLabel value="TSA"/>
                </td>
                </tr>
                <tr>
                <td style="width:33%">
                <apex:outputLabel value="Channels:" style="font-weight:bold"/>               
                <apex:outputLabel value="{!if(TSA__kav.IsVisibleInCsp,'Customer',null)}"/>
                <apex:outputLabel value="{!if(AND(TSA__kav.IsVisibleInApp,TSA__kav.IsVisibleInCsp),',',null)}"/>
                <apex:outputLabel value="{!if(TSA__kav.IsVisibleInApp,'Internal App',null)}"/>
                <apex:outputLabel value="{!if(TSA__kav.IsVisibleInPrm,',',null)}"/>
                <apex:outputLabel value="{!if(TSA__kav.IsVisibleInPrm,'Partner',null)}"/>
                <apex:outputLabel value="{!if(TSA__kav.IsVisibleInPkb,',',null)}"/>
                <apex:outputLabel value="{!if(TSA__kav.IsVisibleInPkb,'Public Knowledge Base',null)}"/>
                </td>
                 
                <td style="width:33% ">
                <apex:outputLabel value="First Published:" style="font-weight:bold"/>  
                <apex:outputLabel value="{!TSA__kav.FirstPublishedDate}"/>
                </td>
                
                <td style="width:33% ">
                <apex:outputLabel value="Validation Status:" style="font-weight:bold"/>  
                <apex:outputLabel value="{!TSA__kav.ValidationStatus}"/>
                </td>
                </tr>
                <tr>
                <td style="width:33% ">
                <apex:outputLabel value="Originally Created By:" style="font-weight:bold"/>            
                <apex:outputLabel value="{!if(ISNULL(TSA__kav.Originally_Created_By__c),TSA__kav.CreatedBy.FirstName+' '+TSA__kav.CreatedBy.LastName,TSA__kav.Originally_Created_By__c)}"/>
                </td>  
                
                <td style="width:33% ">
                <apex:outputLabel value="Last Modified:" style="font-weight:bold"/>             
                <apex:outputLabel value="{!TSA__kav.LastModifiedDate}"/>
                </td>
                
                
                <td style="width:33% ">
                <apex:outputLabel value="Last Published:" style="font-weight:bold"/>  
                <apex:outputLabel value="{!TSA__kav.LastPublishedDate}"/>    
                </td>  
                
                </tr>
                        
                
                                                   
            </table>   
            
                <table><tr><td style="width:50% "> 
                <apex:outputLabel value="Summary:" style="font-weight:bold"/>             
                <apex:outputLabel value="{!TSA__kav.Summary}"/>
                </td></tr></table>
                                                                           
            <!--/apex:pageBlockSection-->
            </div>
            </apex:outputPanel>
            <apex:outputPanel id="detailsection2" rendered="{!if(OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),true,if(showArticleDetail,false,true))}">
            <div id="divdetail2" rendered="{!if(showArticleDetail,false,true)}">
            <!--apex:pageBlockSection -->
            <table style="width:100% ">    
               
                <tr>
                                
                <td style="width:50% ">
                <apex:outputLabel value="Audience:" style="font-weight:bold"/>               
                <apex:outputLabel value="{!TSA__kav.Audience__c}"/>
                </td>
                
                <td style="width:50% ">
                <apex:outputLabel value="Article Type:" style="font-weight:bold"/>               
                <apex:outputLabel value="TSA"/>
                </td>
                </tr>
                <tr>
                <td style="width:50% ">
                <apex:outputLabel value="Last Published:" style="font-weight:bold"/>  
                <apex:outputLabel value="{!TSA__kav.LastPublishedDate}"/>
                </td>
                
                <td style="width:50% ">
                <apex:outputLabel value="Validation Status:" style="font-weight:bold"/>  
                <apex:outputLabel value="{!TSA__kav.ValidationStatus}"/>
                </td>
                </tr>
                                                               
                
                
             </table> 
             <table><tr><td style="width:50% "> 
             <apex:outputLabel value="Summary:" style="font-weight:bold"/>             
                <apex:outputLabel value="{!TSA__kav.Summary}"/>
                </td>
                </tr></table>
                                                            
                                                                                                         
            <!--/apex:pageBlockSection-->
            </div>
            
            </apex:outputPanel>
         <!--/apex:pageBlock-->
            
            <br></br>
            
                     
                <!--apex:outputPanel layout="block" rendered="{!articleHelper.hasMultipleSections}" id="panel1"-->
                <!--div -->
                <!--div id="knowledgeTOCRendererContent" -->
                <!--pex:variable var="sectionIndex" value="{!0}"-->
                <table width="100%" style="font-size:15px;">
                    <apex:repeat value="{!articleHelper.sections}" var="section">                                                        
                    <apex:variable var="isFirstField" value="true" />   
                    <apex:repeat value="{!1}" var="field">
                        <tr style="display: {!IF(AND(section.label=='Article Metadata',t3Name<>null),'','none')};">
                            <td style="color:#0B0B61;vertical-align:top;font-weight:bold;" width="25%">
                                <apex:outputPanel rendered="{!IF(AND(section.label=='Article Metadata',t3Name<>null),True,False)}">
                            <apex:outputLabel value="Product:"  rendered="{!IF(AND(section.label=='Article Metadata',t3Name<>null),True,False)}"/>
                                </apex:outputPanel>
                            </td>
                            <td width="75%" style="vertical-align:top;">
                            <apex:outputPanel rendered="{!IF(AND(section.label=='Article Metadata',t3Name<>null),True,False)}">
                            <apex:outputText value="{!t3Name}" rendered="{!IF(AND(section.label=='Article Metadata',t3Name<>null),True,False)}"/>
                            </apex:outputPanel>
                            </td>
                        </tr>  
                        <tr style="display: {!IF(AND(section.label=='Article Metadata',t3Name<>null),'','none')};">
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </apex:repeat>
                    <apex:repeat value="{!section.fields}" var="field" rendered="{!section.label<>'InternalAuthoring'}">
                        <tr style="display: {!IF(AND(field.label<> 'Requested Publish Date',field.label<>'Next Review Date',field.label!='Link to OPT',if(AND(field.value=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),false,true),if(AND(field.value=='Level 50 = Restricted',OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers')),false,true),field.value!=null,if((section.label=='SR Linking'||section.label=='Attachments'||AND(audienceselected=='Level 30 = Customers',OR(field.label=='Priority',field.label=='Domain Articles',field.label=='Domain',field.label=='Component',field.label=='Life Cycle',field.label=='Vendor',field.label=='Protocol',field.label=='Notes (Employees and Partners)',field.label=='Bug Tracking Number',field.label=='EMC Internal Application',field.label=='Link to OPT',field.label=='Originally Created By',field.label=='Problem Code',field.label=='RCA Status',field.label=='Shared'))||AND(OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),field.label=='Notes (Restricted)')||section.label=='Internal Authoring'),false,true),field.value!=null,field.label!='Application Server Version',field.label!='Client User Interface Version',field.label!='Operating System Version',field.label!='Database Version',field.label!='Web Server Version'),'','none')};">
                        
                            <td style="color:#0B0B61;vertical-align:top;font-weight:bold;" width="25%">
                            
                                <apex:outputPanel rendered="{!AND(field.label<> 'Requested Publish Date',field.label<>'Next Review Date',field.label!='Link to OPT',if(AND(field.value=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),false,true),if(AND(field.value=='Level 50 = Restricted',OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers')),false,true),field.value!=null,if((section.label=='SR Linking'||section.label=='Attachments'||AND(audienceselected=='Level 30 = Customers',OR(field.label=='Priority',field.label=='Domain Articles',field.label=='Domain',field.label=='Component',field.label=='Life Cycle',field.label=='Vendor',field.label=='Protocol',field.label=='Notes (Employees and Partners)',field.label=='Bug Tracking Number',field.label=='EMC Internal Application',field.label=='Link to OPT',field.label=='Originally Created By',field.label=='Problem Code',field.label=='RCA Status',field.label=='Shared'))||AND(OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),field.label=='Notes (Restricted)')||section.label=='Internal Authoring'),false,true),field.value!=null,field.label!='Application Server Version',field.label!='Client User Interface Version',field.label!='Operating System Version',field.label!='Database Version',field.label!='Web Server Version')}">
                                    <apex:outputLabel value="{!field.label}:" />
                                </apex:outputPanel>
                            </td>
                            <td width="75%" style="vertical-align:top;">
                            <apex:outputPanel rendered="{!AND(field.label<> 'Requested Publish Date',field.label<>'Next Review Date',field.label!='Link to OPT',if(AND(field.value=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),false,true),if(AND(field.value=='Level 50 = Restricted',OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers')),false,true),field.value!=null,if((section.label=='SR Linking'||section.label=='Attachments'||AND(audienceselected=='Level 30 = Customers',OR(field.label=='Priority',field.label=='Domain Articles',field.label=='Domain',field.label=='Component',field.label=='Life Cycle',field.label=='Vendor',field.label=='Protocol',field.label=='Notes (Employees and Partners)',field.label=='Bug Tracking Number',field.label=='EMC Internal Application',field.label=='Link to OPT',field.label=='Originally Created By',field.label=='Problem Code',field.label=='RCA Status',field.label=='Shared'))||AND(OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),field.label=='Notes (Restricted)')||section.label=='Internal Authoring'),false,true),field.value!=null,field.label!='Application Server Version',field.label!='Client User Interface Version',field.label!='Operating System Version',field.label!='Database Version',field.label!='Web Server Version')}">
                            
                            <apex:outputText value="{!field.value}" id="a" rendered="{!field.label=='Application Server'}"/>
                            <apex:outputText value=" " rendered="{!field.label=='Application Server'}"></apex:outputText>
                            <apex:outputField value="{!TSA__kav.Application_Server_Version__c}" rendered="{!field.label=='Application Server'}"/>
                                            
                            <apex:outputText value="{!field.value}" rendered="{!field.label=='Client User Interface'}"/>
                            <apex:outputText value=" " rendered="{!field.label=='Client User Interface'}"></apex:outputText>
                            <apex:outputField value="{!TSA__kav.Client_User_Interface_Version__c}" rendered="{!field.label=='Client User Interface'}"/>
                                            
                            <apex:outputText value="{!field.value}" rendered="{!field.label=='Database'}"/>
                            <apex:outputText value=" " rendered="{!field.label=='Database'}"></apex:outputText>
                            <apex:outputField value="{!TSA__kav.Database_Version__c}" rendered="{!field.label=='Database'}"/>
                                            
                            <apex:outputText value="{!field.value}" rendered="{!field.label=='Operating System'}"/>
                            <apex:outputText value=" " rendered="{!field.label=='Operating System'}"></apex:outputText>
                            <apex:outputField value="{!TSA__kav.Operating_System_Version__c}" rendered="{!field.label=='Operating System'}"/>
                                            
                            <apex:outputText value="{!field.value}" rendered="{!field.label=='Web Server'}"/>
                            <apex:outputText value=" " rendered="{!field.label=='Web Server'}"></apex:outputText>
                            <apex:outputField value="{!TSA__kav.Web_Server_Version__c}" rendered="{!field.label=='Web Server'}"/>
                                                                                      
                            <apex:outputField value="{!TSA__kav.Requested_Publish_Date__c}" rendered="{!field.label=='Requested Publish Date'}"/>
                            <apex:outputField value="{!TSA__kav.Next_Review_Date__c}" rendered="{!AND(field.label=='Next Review Date',audienceselected!='Level 30 = Customers')}"/>
                            <apex:outputField value="{!TSA__kav.Last_Approved_Date_Time__c}" rendered="{!field.label=='Last Approved Date Time'}"/>
                            <apex:outputText value="{!field.value}" escape="false" rendered="{!IF(AND(field.label<> 'Requested Publish Date',field.label<>'Next Review Date',field.label<>'Last Approved Date Time',field.label<>'Application Server',field.label<>'Client User Interface',field.label<>'Operating System',field.label<>'Database',field.label<>'Web Server'), True, False)}"/>
                        </apex:outputPanel>
                        </td>
                            
                        </tr>
                        <tr style="display: {!IF(AND(field.label<> 'Requested Publish Date',field.label<>'Next Review Date',field.label!='Link to OPT',if(AND(field.value=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),false,true),if(AND(field.value=='Level 50 = Restricted',OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers')),false,true),field.value!=null,if((section.label=='SR Linking'||section.label=='Attachments'||AND(audienceselected=='Level 30 = Customers',OR(field.label=='Priority',field.label=='Domain Articles',field.label=='Domain',field.label=='Component',field.label=='Life Cycle',field.label=='Vendor',field.label=='Protocol',field.label=='Notes (Employees and Partners)',field.label=='Bug Tracking Number',field.label=='EMC Internal Application',field.label=='Link to OPT',field.label=='Originally Created By',field.label=='Problem Code',field.label=='RCA Status',field.label=='Shared'))||AND(OR(audienceselected=='Level 40 = Employees and Partners',audienceselected=='Level 30 = Customers'),field.label=='Notes (Restricted)')||section.label=='Internal Authoring'),false,true),field.value!=null,field.label!='Application Server Version',field.label!='Client User Interface Version',field.label!='Operating System Version',field.label!='Database Version',field.label!='Web Server Version'),'','none')};">
                        
                            <td colspan="2">&nbsp;</td>
                        </tr>
                                                           
                    </apex:repeat>  
                    </apex:repeat> 
                    </table>

          </apex:form>
        </div>   
        
             </apex:outputPanel>

       
        
    </apex:page>