<!-- 
@Author: Srikrishnadevaraya SM
@createdDate: 11/18/2014
@description: This page is built as a part of BPP January Release
              This page displays Business Partner Program Rebates Info
 -->
<apex:page standardController="GAF__c" extensions="PRM_GAF_BPP_Controller">
    <table border="1" cellpadding="0" cellspacing="0" width="500px" style="border-collapse:collapse;">
        <style>
        th {
            text-align: center;
        }
        th, td {
            padding: 4px;
            text-align: center;
        }
        </style>
        <tr bgcolor="#f2f3f3">
            <th>{!$Label.BPP_QUARTER}</th>          
            <th>{!$Label.BPP_Performance_Rebates}</th>  
            <th>{!$Label.BPP_Other_Rebates}</th>
            <th>{!$label.BPP_Total}</th>                    
        </tr>
        <tr>
            <td>{!$Label.BPP_Q1}</td>
            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Performance_Rebate_Q1__c}" />
                 </apex:outputText>
            </td>

            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Other_Rebate_Q1__c}" />
                 </apex:outputText>
            </td>

            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].All_Rebate_Q1__c}" />
                 </apex:outputText>
            </td>
        </tr>
        <tr>
            <td>{!$Label.BPP_Q2}</td>
            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Performance_Rebate_Q2__c}" />
                 </apex:outputText>
            </td>

            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Other_Rebate_Q2__c}" />
                 </apex:outputText>
            </td>

            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].All_Rebate_Q2__c}" />
                 </apex:outputText>
            </td>

        </tr>
        <tr>
            <td>{!$Label.BPP_Q3}</td>
            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Performance_Rebate_Q3__c}" />
                 </apex:outputText>
            </td>

            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Other_Rebate_Q3__c}" />
                 </apex:outputText>
            </td>

            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].All_Rebate_Q3__c}" />
                 </apex:outputText>
            </td>

        </tr>
        <tr>
            <td>{!$Label.BPP_Q4}</td>
            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Performance_Rebate_Q4__c}" />
                 </apex:outputText>
            </td>

            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Other_Rebate_Q4__c}" />
                 </apex:outputText>
            </td>

            <td>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].All_Rebate_Q4__c}" />
                 </apex:outputText>
            </td>

        </tr>
        <tr>
            <th>{!$Label.BPP_Total}</th>
            <th>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Performance_Rebate_Total__c}" />
                 </apex:outputText>
            </th>

            <th>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].Other_Rebates_Total__c}" />
                 </apex:outputText>
            </th>

            <th>
                <apex:outputText value="{0, number, ###,###,##0}">
                       <apex:param value="{!gaf[0].All_Rebate_Total__c}" />
                 </apex:outputText>
            </th>

        </tr>
    </table>        
    <br/>
    <br/>
    <apex:include pageName="PRM_GAF_Details"/>
</apex:page>