<!-- ========================================================================================================================
 |  HISTORY 
 |  DATE            DEVELOPER       WR/Req      DESCRIPTION 
 |  15-03-2012      Anirudh Singh   188157      This Page will be used to display Goal Tacking Table for 
 |                                              EMEA Distributor.         
    25 Sep 2012  Arif                               Commented code for PAN GAF
    25 Sep 2012  Arif                               UnCommented code for PAN GAF
 |  15 Nov 2013     Avinash K       319046      Moved GAF Terms & Conditions reference from the Goal Tracking section (VF page)
                                                to the Goal Section (VF Page)                                     
========================================================================================================================-->
<apex:page standardController="GAF__c" extensions="PRM_GAF_VF_Controller">
    <apex:pageBlock >
       
        
        <table class="list" columns="9" Frame="Box" border="2">            
                <tr class="{!If(Not(IspickVal($User.Usertype,'PowerPartner')),'headerRow',if(ispickval($User.Usertype,'PowerPartner'),'sidebarModuleHeader','headerrow'))}">
                                            
                        <td colspan="9"><center>BRS</center></td>                        
                                        
                </tr>
            <tr class="{!If(Not(IspickVal($User.Usertype,'PowerPartner')),'headerRow',if(ispickval($User.Usertype,'PowerPartner'),'sidebarModuleHeader','headerrow'))}">                    
                    <td>Quarter</td>
                    <td>Goal Rev.</td>
                    <td>Actual Rev.</td>
                    <td>% Goal</td>
                    <td>Revenue Rebate</td> 
                    <td>Goal Units</td>  
                    <td>Actual Units</td>      
                    <td>% Units</td>
                    <td>Units Rebate</td>                              
               </tr>
               <tr>
                    <td>
                    <span>Q1</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Actl_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Rebt_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Actl_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Unit_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Rebt_Q1__c}"/></td>                      
            </tr>
            <tr>
                    <td>
                    <span>Q2</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Actl_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Rebt_Q2__c}"/></td>  
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Actl_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Unit_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Rebt_Q2__c}"/></td>                      
                         
            </tr>
            <tr>
                    <td>
                    <span>Q3</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Actl_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Rebt_Q3__c}"/></td> 
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Actl_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Unit_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Rebt_Q3__c}"/></td>                      
                          
            </tr>
            <tr>
                    <td>
                    <span>Q4</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Actl_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Rebt_Q4__c}"/></td> 
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Actl_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Unit_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Rebt_Q4__c}"/></td>                      
                          
            </tr>
            <tr>
                    <td>
                    <span>Total</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Actl_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Goal_Total__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Rev_Rebt_Tot__c}"/></td> 
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Actl_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_All_Partners_P_Unit_Goal_Total__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.BRS_Al_Ptr_Unit_Rebt_Tot__c}"/></td>                        
            </tr>
            
        </table>
        <table columns="9" > 
               <tr><td>&nbsp;</td></tr>               
        </table> 
        
        <table class="list" columns="9" Frame="Box" border="2">            
                <tr class="{!If(Not(IspickVal($User.Usertype,'PowerPartner')),'headerRow',if(ispickval($User.Usertype,'PowerPartner'),'sidebarModuleHeader','headerrow'))}">
                   
                        
                        <td colspan="9"><center>Governance And Archive</center></td>
                        
                                        
                </tr>
            <tr class="{!If(Not(IspickVal($User.Usertype,'PowerPartner')),'headerRow',if(ispickval($User.Usertype,'PowerPartner'),'sidebarModuleHeader','headerrow'))}">                    
                    <td>Quarter</td>
                    <td>Goal Rev.</td>
                    <td>Actual Rev.</td>
                    <td>% Goal</td>
                    <td>Revenue Rebate</td> 
                    <td>Goal Units</td>  
                    <td>Actual Units</td>      
                    <td>% Units</td>
                    <td>Units Rebate</td>                              
               </tr>
               <tr>
                    <td>
                    <span>Q1</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Rev_Actl_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Governance_Archive_All_Ptnrs_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Rebt_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Unt_Actl_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Govrn_Archve_Al_Ptnrs_P_Unit_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Rebt_Q1__c}"/></td>                      
            </tr>
            <tr>
                    <td>
                    <span>Q2</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Rev_Actl_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Governance_Archive_All_Ptnrs_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Rebt_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Unt_Actl_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Govrn_Archve_Al_Ptnrs_P_Unit_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Rebt_Q2__c}"/></td>                        
            </tr>
            <tr>
                    <td>
                    <span>Q3</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Rev_Actl_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Governance_Archive_All_Ptnrs_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Rebt_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Unt_Actl_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Govrn_Archve_Al_Ptnrs_P_Unit_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Rebt_Q3__c}"/></td>                          
            </tr>
            <tr>
                    <td>
                    <span>Q4</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Rev_Actl_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Governance_Archive_All_Ptnrs_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Rebt_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Unt_Actl_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Govrn_Archve_Al_Ptnrs_P_Unit_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Rebt_Q4__c}"/></td>                         
            </tr>
            <tr>
                    <td>
                    <span>Total</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Rev_Actl_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Govrnance_Archive_All_Ptnrs_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Rev_Rebt_Tot__c}"/></td> 
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Unt_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_Al_Ptr_Unt_Actl_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Govrn_Archve_Al_Ptnrs_P_Unit_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Gvrn_Archv_All_Ptr_Unt_Rebt_Tot__c}"/></td>                          
            </tr>
            
        </table>
       <table columns="9" > 
               <tr><td>&nbsp;</td></tr>              
       </table> 
       
       
        <table class="list" columns="9" Frame="Box" border="2">            
                <tr class="{!If(Not(IspickVal($User.Usertype,'PowerPartner')),'headerRow',if(ispickval($User.Usertype,'PowerPartner'),'sidebarModuleHeader','headerrow'))}">
                    
                        
                        <td colspan="9"><center>Consolidate</center></td>
                        
                                        
                </tr>
            <tr class="{!If(Not(IspickVal($User.Usertype,'PowerPartner')),'headerRow',if(ispickval($User.Usertype,'PowerPartner'),'sidebarModuleHeader','headerrow'))}">                    
                    <td>Quarter</td>
                    <td>Goal Rev.</td>
                    <td>Actual Rev.</td>
                    <td>% Goal</td>
                    <td>Revenue Rebate</td> 
                    <td>Goal Units</td>  
                    <td>Actual Units</td>      
                    <td>% Units</td>
                    <td>Units Rebate</td>                              
               </tr>
               <tr>
                    <td>
                    <span>Q1</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Actl_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Rebt_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Actl_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Unit_Goal_Q1__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Rebt_Q1__c}"/></td>                      
            </tr>
            <tr>
                    <td>
                    <span>Q2</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Actl_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_All_Ptr_Rev_Rebt_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Actl_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Unit_Goal_Q2__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Rebt_Q2__c}"/></td>                         
            </tr>
            <tr>
                    <td>
                    <span>Q3</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Actl_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_All_Ptr_Rev_Rebt_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Actl_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Unit_Goal_Q3__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Rebt_Q3__c}"/></td>                          
            </tr>
            <tr>
                    <td>
                    <span>Q4</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Actl_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_All_Ptr_Rev_Rebt_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Actl_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Unit_Goal_Q4__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Rebt_Q4__c}"/></td>                          
            </tr>
            <tr>
                    <td>
                    <span>Total</span>
                    </td> 
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Rev_Actl_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Goal_Total__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_All_Ptr_Rev_Rebt_Tot__c}"/></td> 
                    <td><apex:outputField value="{!GAF__c.Cnsld_Al_Ptr_Unit_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_All_Ptr_Unt_Actl_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Consolidate_All_Partners_P_Unit_Goal_Tot__c}"/></td>
                    <td><apex:outputField value="{!GAF__c.Cnsld_All_Ptr_Unt_Rebt_Tot__c}"/></td>                          
            </tr>
            
        </table>        
         

        <!-- Code commented by Avinash for WR# 319046 -->
         <!-- <table align="center" columns ="10">                 
                    <td colspan="8">
                    <center>
                     <apex:outputText value="{!$Label.EMEA_Distributor_DOC}" escape="false"></apex:outputText>
                     </center>
                     </td>
         </table> -->       
        </apex:pageBlock>
</apex:page>