<apex:page standardController="Case" extensions="PVR_Expiries_record" showHeader="false">
  <apex:form >
  <apex:pageBlock >
    <apex:pageBlockSection >
      <!--<apex:outputField value="{!PVRList[0].Account_Name__c}"/>-->
      <apex:outputField value="{!PVRList[0].Case__c}"/>
      <apex:outputField value="{!PVRList[0].Notice_90_Day__c}"><apex:inlineEditSupport event="ondblclick" showOnEdit="SaveBotton"/></apex:outputField>
      <apex:outputField value="{!PVRList[0].PVR_Disposition__c}"><apex:inlineEditSupport event="ondblclick" showOnEdit="SaveBotton"/></apex:outputField>
      <apex:outputField value="{!PVRList[0].Notice_45_Day__c}"><apex:inlineEditSupport event="ondblclick" showOnEdit="SaveBotton"/></apex:outputField>
      <apex:outputField value="{!PVRList[0].Internal_Comments__c}" ><apex:inlineEditSupport event="ondblclick" showOnEdit="SaveBotton"/></apex:outputField>
      <apex:outputField value="{!PVRList[0].Notice_15_Day__c}"><apex:inlineEditSupport event="ondblclick" showOnEdit="SaveBotton"/></apex:outputField>
      <apex:outputField value="{!PVRList[0].Opportunity_Number__c}"/>
      <apex:outputField value="{!PVRList[0].Name}"/>
      <apex:outputField value="{!PVRList[0].Contact_Name__c}"/>
      <apex:outputField value="{!PVRList[0].Concession_End_Date__c}"/>
      <apex:outputField value="{!PVRList[0].Global_Ultimate_Identifier__c }"/>
      <apex:outputField value="{!PVRList[0].Core_Quota_rep__c}"/>
      <apex:outputField value="{!PVRList[0].Global_Multinational_Account__c}"/> 
      <apex:outputField value="{!Case.CreatedById}"/>
      <!--<apex:outputField value="{!PVRList[0].CreatedById}"/>-->
      <apex:outputField value="{!Case.LastModifiedById}" />
     
      
    </apex:pageBlockSection>

<apex:pageBlockButtons location="Bottom"> 
  <apex:commandButton value="Save" action="{!PVRSave}"  />
</apex:pageBlockButtons>     
  </Apex:pageBlock>
 </apex:form> 
</apex:page>